<div class="ember-password-toggle-wrapper {{wrapperClass}}">
  <button
    class="ember-password-toggle-btn {{buttonClass}}"
    type="button"
    tabindex="-1"
    data-click="pw-btn"
    data-pw="show">Show</button>

    {{#if hasBlock}}
      {{yield}}
    {{else}}
      <input
      type={{type}}
      id={{inputId}}
      class="ember-password-toggle-input {{inputClass}}"
      tabindex={{tabindex}}
      autocomplete={{autocomplete}}
      placeholder={{placeholder}}
      oninput={{action (mut password) value="target.value"}}
      maxlength={{maxlength}}>
    {{/if}}
</div>
