<div class="ember-password-toggle-wrapper {{wrapperClass}}">
  <button
    class="ember-password-toggle-btn {{buttonClass}}"
    type="button"
    onclick={{action "toggleInputType"}}
    tabindex="-1"
    data-click="pw-btn"
    data-pw="show">{{if isTypeText "Hide" "Show"}}</button>

    {{#if hasBlock}}
      {{yield}}
    {{else}}
      <input
      type={{type}}
      id={{inputId}}
      class="ember-password-toggle-input {{inputClass}}"
      tabindex={{tabindex}}
      placeholder={{placeholder}}
      value={{password}}
      oninput={{action (mut password) value="target.value"}}
      maxlength={{maxlength}}
      autofocus={{autofocus}}

      autocapitalize={{autocapitalize}}
      autocomplete={{autocomplete}}
      autocorrect={{autocorrect}}
      spellcheck={{spellcheck}}
      >
    {{/if}}
</div>